<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>This is About page</title>
</head>
<body>
	<section>
		<div class="container " style="margin-top: 5% !important;">
			<div class="card ">
				<div class="card-body ">
					<h1 class="text-center">Smart Contact Suite</h1>
					<div>
						<h3>&#10087 Contact Management:</h3>
						<p>
							&#10687 <b>Add, Edit, Delete Contacts:</b> Users can easily add
							new contacts, edit existing ones, and delete outdated or unwanted
							contacts. <br /> &#10687 <b>Contact Details:</b> Store detailed
							information for each contact including name, phone numbers, email
							addresses, social media profiles, addresses, and notes.
						</p>
					</div>
					<div>
						<h3>&#10087 Data Privacy and Security:</h3>
						<p>
							&#10687 <b>Encryption:</b> Ensure that all contact data is
							encrypted both in transit and at rest. <br /> &#10687 <b>User
								Permissions:</b> Implement user roles and permissions to control
							access to contact information within an organization.
						</p>
					</div>
					<div>
						<h3>&#10087 Smart Recommendations:</h3>
						<p>
							&#10687 <b>Duplicate Detection:</b> Automatically detect and
							merge duplicate contacts to keep the contact list clean and
							organized.
						</p>
					</div>
					<div>
						<h3>&#10087 User-Friendly Interface:</h3>
						<p>
							&#10687 <b>Intuitive Design:</b> A clean, easy-to-navigate
							interface that works seamlessly on both desktop and mobile
							devices. <br />
							&#10687 <b>Customization Options:</b>Allow users to customize the
							interface and data fields to suit their personal or
							organizational needs. <br />
							and many more........
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>